<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar"
                      aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
              <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/main">Главная</a></li>
                <li routerLinkActive="active"><a routerLink="/catalog">Каталог</a></li>
                <li routerLinkActive="active"><a routerLink="/about">О сайте</a></li>
              </ul>
            </div>

          </div>
        </nav>

      </div>
    </div>
  </header>
  <div class="common">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer class="footer">

  </footer>
</div>
